// navigation bar
nav{
  background: burlywood!important;
  color: white!important;
}
nav ul li a{
  color: white!important;
}
.nav-item{
  font-size: 20px!important;
}
#login{
  padding-left: 120%!important;
}

// footer
footer{
  background: burlywood!important;
  color: white!important;
  margin-top:10%!important;
}
footer{
  padding-top: 20px!important;
  padding-bottom: 25px!important;
  bottom: 0!important;
  width:100%!important;
  margin-top: 5%!important;
}
.registerLogin{
  float:right!important;
}


// body
body{
  background-image: url('https://t3.ftcdn.net/jpg/00/84/55/66/240_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg');
}

// posts
.list-group li{
  background:burlywood!important;
  opacity: 0.9;
}

h1{
  text-align:center!important;
  font-family: "Comic Sans MS", cursive, sans-serif!important;
  margin-top: 40px!important;
  margin-bottom: 30px!important;
  font-style: oblique!important;
  font-weight: bold!important;
}
.list-group li h2{
  color:black;
  font-style: oblique!important;
  font-family: "Comic Sans MS", cursive, sans-serif!important;
}
.list-group li{
  margin-bottom: 15px!important;}

.info{
  float:right!important;
  color: white;
  font-size: 20px;
  margin-left: 40px!important;
  margin-top: 30px!important;
  font-family: "Comic Sans MS", cursive, sans-serif!important;
}
.readMore{
  color:dodgerblue!important;
  float:right!important;
}
img{
  border-radius: 5px!important;
}
// show one
.coverImage{
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  margin-top: 30px;
  box-shadow: 1px 1px 2px black, 0 0 25px black!important;
}
.Infotitle{
  color: royalblue;
  margin-top: 20px!important;
}
.wrapper{
  text-align: center;
margin-left: 20%;
  margin-right: 20%;
}
.alldogs{
  list-style-type: none;
  margin-top: 70px;
}
.alldogs li{
  display: inline-block!important;
  margin-right: 60px;
  margin-bottom: 50px;
  background: black!important;
  padding: 20px 25px 20px 25px;
  border-radius: 5px!important;
  box-shadow: 1px 1px 2px black, 0 0 25px black!important;
}
.changePages{
  margin-left: 45%!important;
}
.alldogs li h2{
  text-align: center!important;
  margin-top: 10px!important;
  color: whitesmoke!important;
}
.alldogs img{
  margin-left: auto;
  margin-right: auto;
}
.center{
  display: block!important;
  margin-left: auto!important;
  margin-right: auto!important;
  text-align: center!important;
}
#backButton{
  float:left;
  margin-left: -30px!important;
}
#nextButton{
  float:right;
}

.wholepost{
  background: white;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 40px;
  padding-top: 20px;
  border-radius: 10px;
  border: solid gray 2px;
}
#editanddelete{
  margin: 10px;
}
footer {

  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}








