nav{
  background: burlywood!important;
  color: white!important;
}
nav ul li a{
  color: white!important;
}
.nav-item{
  font-size: 20px!important;
}
footer{
  background: burlywood!important;
  color: white!important;
  margin-top: 34%!important;
}
footer{
  padding-top: 15px!important;
  padding-bottom: 20px!important;
}
body{
  background-image: url('https://t3.ftcdn.net/jpg/00/84/55/66/240_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg');
}





